title{
  font-family: "Gill Sans", serif;
}

body {

}



p:hover {
  background-color: black;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
background-color: darkgrey;
}

li {
    float: left;
}

li p {
    display: block;
    padding: 14px 16px;
    font-size: 50%;
    font-family: "Gill Sans";
    font-variant: small-caps;
    text-align: center;
    color: white;
    letter-spacing: .75em;
    background-color: darkgrey;
}
