title{
  font-family: "Gill Sans", serif;
}


body {
    margin: 0 !important;
    padding: 0 !important;
    padding-top: 0 !important;
}

p:hover {
  background-color: black;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: darkgrey;
}

li {
    float: center;
}

li p {
    display: block;
    font-size: 50%;
    font-family: "Gill Sans";
    font-variant: small-caps;
    text-align: center;
    color: white;
    letter-spacing: .75em;
    background-color: darkgrey;
}
